CocoaHeadsNL/CloudCode/config/global.json
CocoaHeadsNL/CocoaHeadsNL/Settings.bundle/Acknowledgements.plist
CocoaHeadsNL/CocoaHeadsNL/ParseConfig.plist
CocoaHeadsNL/Pods
xcuserdata
CocoaHeadsNL/parse

screenshots
report.xml
Error*.png
