{
    "applications": {
        "production": {
            "applicationId": "PARSE_APPLICATION_ID_PRODUCTION", 
            "masterKey": "PARSE_MASTER_KEY_PRODUCTION"
        },
        "development": {
            "applicationId": "PARSE_APPLICATION_ID_DEVELOPMENT", 
            "masterKey": "PARSE_MASTER_KEY_DEVELOPMENT"
        }, 
        "_default": {
            "link": "development"
        }
    }, 
    "global": {
        "parseVersion": "1.3.5"
    }
}