{
    "applications": {
        "cocoaheads": {
            "applicationId": "PARSE_APPLICATION_ID", 
            "masterKey": "PARSE_MASTER_KEY"
        }, 
        "_default": {
            "link": "cocoaheads"
        }
    }, 
    "global": {
        "parseVersion": "1.4.2"
    }
}