<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>PARSE_APPLICATION_ID</string>
	<key>clientKey</key>
	<string>PARSE_CLIENT_KEY</string>
</dict>
</plist>
