<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>D55PL7PU7S</string>
	<key>uploadBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: Stichting CocoaheadsNL</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>nl.cocoaheads.app.CocoaHeadsNL.generalNotification</key>
		<string>f310cafd-4976-454e-9a54-bd5e5f6ce2c9</string>
		<key>nl.cocoaheads.app.CocoaHeadsNL.itemNotification</key>
		<string>c5853b6d-9a45-41a4-90bd-e12344b6b613</string>
		<key>nl.cocoaheads.app.CocoaHeadsNL.ItemServiceExtension</key>
		<string>b2a2ec45-f1f8-47b3-9200-09c808d989b2</string>
		<key>nl.cocoaheads.app.CocoaHeadsNL</key>
		<string>979eaa25-8ce3-4e21-a59e-5ec136f57adb</string>
	</dict>
</dict>
</plist>
